
body {
	color: #2d2d2d;
}

.container {
	max-width: 1140px;
	text-align: center;
	margin: auto;
}

.nav-bar {
	height: 45px;
	background-color: #000;
	color: #fff;

}
nav { 
	align-items: center;
	display: flex;
}

.pp-logo {
	height: 40px;
}
nav ul {
	display: inline-block;
	margin-right: 0px;
	margin-left: auto;
}
nav ul li {
	display: inline-block;
	padding: 10px;
}

header div {
	margin: auto;
	min-height: 450px;
	background-image: url('images/kayak-bkgd.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

header h2 {
	font-family: fonts/pacifico;
}

header button {
	background-color: #e2574c;
	border-radius: 5px;
	border: none;
	color: white;
	padding: 11px;
}

section p {

	font-size: 14px;
	font-family: arial;
}

div.images {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;

}

div.images img {
	flex: 1;
	max-width: 32%;
	height: auto;
}
section h3 {
	color: #646464;
}

div.rentals {
	display: flex;
}

table{
	border: 1px solid;
	border-color: #c8c8c8;
	border-collapse: collapse;

}

table th {
	background-color: #e6e6e6;
}

a.brand-color {
	color: #e2574c;
}

a:hover.brand-color{
	color: #b64036;
}

table td, th {
	border: 1px solid #c8c8c8;
	border-collapse: collapse;
}


footer {
	align-items: center;
	background-color: #212121;
	display: flex;
	color: #fff;
	height: 100px;
}

footer ul {
	margin-right: 10%;
	margin-left: auto;
}
footer a {
	text-decoration: none;
	color: #fff;
}